# templates/index.html
"""
<!DOCTYPE html>
<html>
<head>
    <title>Titanic Prediction</title>
</head>
<body>
    <h2>Titanic Survival Prediction</h2>
    <form action="/predict" method="post">
        <label>Pclass:</label><input type="number" name="pclass"><br>
        <label>Sex (0=Male,1=Female):</label><input type="number" name="sex"><br>
        <label>Age:</label><input type="number" step="any" name="age"><br>
        <label>SibSp:</label><input type="number" name="sibsp"><br>
        <label>Parch:</label><input type="number" name="parch"><br>
        <label>Fare:</label><input type="number" step="any" name="fare"><br>
        <button type="submit">Predict</button>
    </form>
</body>
</html>



